{% extends 'CoinViewer/header.html' %}
{% block content %}
<body style="font-family:Ubuntu;background-color:white;" id="overlay">

    <br/>

    <div class="container">
        <div class="jumbotron" align="center">
            <h1 style="color:red">PAGE NOT FOUND</h1>
            <p style="color:black">These aren't the droids you're looking for. <a href="/coins" style="color:blue">Return to coins list</a></p>
            <p><a href="/faq" style="color:blue">Why can't I find a coin on here?</a></p>
        </div>
    </div>

</body>
{% endblock %}