{% extends 'CoinViewer/header.html' %}
{% block content %}

<body style="font-family:Ubuntu;background-color:white;">

    <br/>

    <div class="container">
        <div class="jumbotron" id="faqjumbo">

            <h1 style="color:rgb(92, 184, 92);margin-bottom:20px;">Hello, and Welcome to CryptoGrade!</h1>

            <div class="row" style="background-color:black;margin-bottom:20px;">
                <div class="col-12"></div>
            </div>

            <p>We created CryptoGrade with the sole intention of bringing more transparency to Cryptocurrency through real-time crowdsourced sentiment indicators that are voted on by the community 24/7/365.</p>
            <p>We like to compare CryptoGrade to the show “Who Wants To Be A Millionaire?”. You’ve made it to the last question, one million dollars is on the line, you have the option to trust your Uncle Steve’s opinion, or the opinion from the whole studio audience. Who would you go with?</p>
            <p>We are Crypto addicts, investors, and enthusiasts just like everyone else. We want CryptoGrade to be a one stop shop for overall community sentiment on many different Cryptocurrencies. Trusting the opinion of one or two people on Reddit is now a thing of the past.</p>
            <p>With that said, these sentiment indicators are NOT financial advice in any way. They are merely a way to gauge the community’s opinion on a certain coin and should only be a factor to consider before investing in a coin.</p>
            <p>We are open to adding, removing, and modifying categories based on user feedback. We will be looking to the community for suggestions as we progress into the future. We plan on adding many more coins as well! If you would like to request a coin to be added, please <a rel="nofollow" href="https://ctt.ec/wFc5M">tweet us</a> to do so.</p>
            <p>We’re sure you have questions and comments. Please check our <a href="/faq">FAQ</a> to see if we can answer your questions there and if not please use our <a href="/contact">Contact</a> form. We value your opinion and suggestions!</p>
            <p>Most importantly, have fun and enjoy the platform!</p>
            <p style="float:right;">- The CryptoGrade Team&emsp;&emsp;</p>
            <br/>

        </div>
    </div>

</body>

{% endblock %}