{% extends 'CoinViewer/header.html' %}
{% block content %}

<body style="font-family:Ubuntu;background-color:white;">

    <br/>

    <div class="container">
        <div class="jumbotron" id="faqjumbo">

            <h1 style="color:black;margin-bottom:20px;">Contact Us</h1>

            <div class="row" style="background-color:black;margin-bottom:20px;">
                <div class="col-12"></div>
            </div>

            <p>We appreciate your interest in getting in contact with the CryptoGrade team. As the team is still very small, it may take us some time to read your email. Thank you for your patience, and we look forward to conversing with you shortly.</p>
            <p>For help, support, issues, and business inquiries, please send an email to <a rel="nofollow" href="mailto:support@cryptograde.io">support@cryptograde.io</a>.</p>

        </div>
    </div>

</body>

{% endblock %}